<div class="w-full h-screen bg-indigo-500 flex flex-col items-center justify-center">
  <h1 class="text-7xl text-indigo-50 text-center"> This is the about page </h1>
  <div class="mt-8 flex items-center justify-center"> 
    <%= link_to "Back to home page", "/", class: "px-5 py-2 rounded-full bg-pink-500 text-pink-50 border-2 border-pink-100 hover:scale-105 transition-all duration-250" %>
  </div>
</div>